/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  display: flex;
  color: #fff;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #195A8A;
  background: #195A8A;
  box-shadow: 0px 0px 2px 0px rgba(23, 26, 31, 0.12), 0px 0px 1px 0px rgba(23, 26, 31, 0.07);
}


/* Content inside the hero banner */
.hero-content {
  display: flex;
  flex-flow: row nowrap;
  /* Explicitly set to rows */
  align-items: center;
  justify-content: space-between;
  width: 90%;
  /* Optional: to limit the maximum width */
}

/* Text section */
.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1.2rem;
  color: #666;
}

/* Image section */
.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-image img {
  max-height: 75%;
  max-width: 50%;
  object-fit: contain;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons a {
  margin: 20px 36px;
}